#VideoCard {
  width: 400px;
  margin-bottom: 15px;
  padding-top: 10px;
}

#VideoCard #cover_photo {
  height: 200px;
  width: 100%;
}

#VideoCard #title_row_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#VideoCard .text {
  margin-left: 20px;
  margin-right: 20px;
}

#VideoCard #date_text {
  font-size: 1.5em;
}

#VideoCard #title_text {
  font-size: 1.7em;
}

#VideoCard #keywords_row {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

#VideoCard .keyword_container {
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  margin: 5px;
}

#VideoCard .keyword_text {
  font-size: 1.2em;
}
